.CommentsWrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.commentsBox {
  flex: 1;
}

.content {
  background-color: var(--gray-700);
  border-radius: 9px;
  padding: 1rem;
}

.content > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content header button:hover {
  color: var(--red-500);
}

.infoUser strong {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.infoUser span {
  font-size: 0.75rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.content button {
  background: transparent;
  border: none;
  line-height: 0;
  color: var(--gray-400);
  cursor: pointer;
}

.content p {
  font-size: .875rem;
  margin-top: 1rem;
  padding-bottom: .562rem;
  line-height: 1.6;
}
footer button {
  background: transparent;
  font-size: .875rem;
  border: none;
  margin-top: 1.125rem;
  margin-bottom: .625rem;
  line-height: 0;
  display: flex;
  align-items: center;
  color: var(--gray-400);
  cursor: pointer;
}

footer button:hover {
  color: var(--green-300);
}

footer button svg {
  margin-right: 0.5rem;
}

footer button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}